label {
    font-family: 'Manrope', Helvetica;
    font-size: 14px;
    color: #8A8A89;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.carFilterFormContainer {
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'Manrope', Helvetica;
}

.offCanvasContainer {
    display: flex;
    justify-content: center;
}

.offCanvasTitle {
    color: #3470FF;
    font-family: 'Manrope', Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.carFilterForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    padding-bottom: 50px;
    gap: 18px;
}

@media screen and (min-width: 992px) {
    .carFilterForm {
        flex-direction: row;
        align-items: end;
    }
}

.carBrandContainer {
    display: flex;
    flex-direction: column;
}

.carBrandSelectContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.carBrandSelect {
    padding: 14px 40px 14px 16px;
    background-color: #F7F7FB;
    color: #121417;
    border: none;
    border-radius: 14px;
    font-family: 'Manrope', Helvetica;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.carBrandSelect::-ms-expand {
    display: none;
}

.selectArrowDown {
    position: absolute;
    right: 36px;
    top: 14px;
    pointer-events: none;
    transition: transform 500ms ease-in-out;
}

.selectArrowUp {
    composes: selectArrowDown;
    transform: rotateX(180deg);
}

.carBrandSelect:focus,
.carPriceSelect:focus,
.carMileageFromInput:focus,
.carMileageToInput:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.clearFilterBtn {
    color: #dcdcf0;
    background-color: transparent;
    font-family: 'Manrope', Helvetica;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: color 500ms ease-in-out, transform 500ms ease-in-out;
}

.clearFilterBtn:hover {
    color: red;
    transform: rotateY(180deg);
}

.clearFilterBtn:focus {
    outline: none;
}

.carPriceContainer {
    display: flex;
    flex-direction: column;
}

.carPriceSelectContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.carPriceSelect {
    padding: 14px 44px 14px 18px;
    background-color: #F7F7FB;
    color: #121417;
    border: none;
    border-radius: 14px;
    font-family: 'Manrope', Helvetica;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.carPriceSelect::-ms-expand {
    display: none;
}

.carMileageFromContainer {
    display: flex;
    flex-direction: column;
}

.carMileageFromInputContainer {
    position: relative;
    display: flex;
}

.carMileageFromInputContainer::before {
    content: 'From';
    position: absolute;
    top: 11px;
    left: 18px;
    color: #121417;
    font-family: 'Manrope', Helvetica;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.carMileageFromInput {
    padding: 14px 18px 14px 70px;
    background-color: #F7F7FB;
    border: none;
    border-radius: 14px;
    font-family: 'Manrope', Helvetica;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

.carMileageToContainer {
    display: flex;
    flex-direction: column;
}

.carMileageToInputContainer {
    position: relative;
    display: flex;
}

.carMileageToInputContainer::before {
    content: 'To';
    position: absolute;
    top: 11px;
    left: 18px;
    color: #121417;
    font-family: 'Manrope', Helvetica;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.carMileageToInput {
    padding: 14px 18px 14px 48px;
    background-color: #F7F7FB;
    color: #121417;
    border: none;
    border-radius: 14px;
    font-family: 'Manrope', Helvetica;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

.carFilterSubmitBtn {
    padding: 14px 44px;
    color: #ffffff;
    background-color: #3470FF;
    border: none;
    border-radius: 12px;
    font-family: 'Manrope', Helvetica;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: box-shadow 500ms ease-in-out, background-color 500ms ease-in-out;
}

.carFilterSubmitBtn:hover {
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #0B44CD;
}

.carFilterSubmitBtn:focus {
    outline: none;
}