.navBarContainer {
    z-index: 1;
}

.navBarText {
    font-weight: 800;
    color: #fd8847;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    transition: color 500ms ease-in-out;
}

.navBarText:hover {
    color: #1d657a;
}

.navBarLinkText {
    margin: 0;
    color: #fd8847;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 1px #000000;
    letter-spacing: 0.05em;
    transition: color 500ms ease-in-out;
}

.navBarLinkText:hover {
    color: #1d657a;
}

.navBarBtn {
    width: 75px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}